body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8c7d1; /* 옅은 분홍색 배경 */
    text-align: center;
}

h1, h2, h3 {
    color: #76b6f1; /* 진한 하늘색 글자 */
    text-align: left;
}

h3 {
    color: #4f1982;
    text-align: left;
}

p {
    font-size: 16px;
    color: #76b6f1; /* 진한 하늘색 글자 */
    line-height: 1.5;
    margin: 10px;
    text-align: left;
}

a {
    color: #333; /* 링크 색상 */
}

a:hover {
    color: #d4b7e2; /* 마우스 오버 시 아주 옅은 보라색 */
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 320px;
    margin-right: 15px; /* 사진과 글자 사이 간격 */
}

div {
    margin: 20px;
    padding: 20px;
    background-color: yellow;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    justify-content: space-between; /* 사진과 텍스트를 좌우로 배치 */
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4c81af;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* 버튼 크기를 화면 전체로 확대 */
}

.button:hover {
    background-color: #d4b7e2; /* 마우스 오버 시 아주 옅은 보라색 */
}
